#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.controls-info{
  position:absolute;
  top: 0;
  right:0;
  z-index: 12;
  color: white;
  padding: 5px;

}

.map-experience-container{
 width: 100vw;
 height: 100vh;
 /* position: s; */

}

.journey-planner-and-trip-info-container{
  padding: 5px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  /* top: 30; */
  /* left: 30; */
  z-index: 9;
  display: flex;
  flex-direction: column;
  width:325px;
  min-height: 15vh;
  /* max-height: 10px; */
  background: rgb(39, 39, 39);
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  color: white;
  
}

.m3dt-title{
 text-align: center;
}

.journey-planner{
  position: relative;
  z-index: 9;
  /* display: inline-flex; */
  width: 35vw;
  display: flex;
  /* flex-direction: row; */
  text-align: center;
  padding: 3px;
  /* border-style: solid;
  border-color: black; */
}

.journey-planner-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reverse-stations-button{
  background-color: rgb(166, 166, 166);
  font-weight: bold;
  border: 2px;
  border: solid;
  border-color: black;
  padding: 3.5px;
  color: rgb(255, 255, 255);
}

/* .select{
  align-items: flex-end;
  width: 10px;
  color: white;
} */
.station-search-container{
  padding: 0px;
  width: auto;
  /* border-style: solid;
  border-color: black; */
 
}
.station_search{
  /* align-items: right; */
  margin-top: 0;
}
/* 
.search-text{
  text-color: white;
} */

.trip-info{
  position: relative;
  z-index: 8;
  width: auto;
  /* display: inline-flex; */
}

.station_label{
  color: white;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
}

.complex_label{
  color: rgb(255, 255, 255);
  
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* .complex-tooltip{
  background-color: rgb(39, 39, 39);
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  width: 200px;
  height: 200px;
} */
.complex-button{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(39, 39, 39);
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.complex-tooltip-html{
  background-color: rgb(39, 39, 39);
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  width: 200px;
  height: auto;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.route-info-tooltip{
  /* display: flex; */
 
  text-align: center;
  min-width: 200px;
}
.route-info-html{
  border-style: solid ;
  background-color: rgb(39, 39, 39);
  border-radius: 15px;
  min-width: 150px;
  user-select: none;
  color: white;
  padding: 10px;
  justify-content: center;
 
}

.highlight{
  background-color: gold;
  color: black;
  border-radius: 5px;
  padding: 3px;
}

.route-html-text{
  /* color: white; */
  /* padding: 10px; */
  font-size: 35px;
  user-select: none;
  /* border-width: 4px; */
}
  

.station-html{
  border-style: solid ;
  background-color: rgb(39, 39, 39);
  border-radius: 15px;
  border-width: 5px;
  padding: 10px;
  width: 280px;
  align-items: center;
  user-select: none;
  vertical-align: middle;
}
.station-tooltip{
  color:white;
  text-align: center;
  border-radius: 15px;
  
}

.arrivals-html{
 display: flex;
 flex-direction: row;
}

.arrivals-name{
  font-size: 25px;
  /* color: yellow; */
}

.tooltip_route_icon{
  width: 20px;
  height: 20px;
  padding: 3px;
  pointer-events: none;
}

.icon-time-pair{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  /* color: black; */
  /* background-color: gold; */
  padding: 5px;
  border-radius: 10px;
}

.origin-dest-btn{
  color: black;
  background-color: gold;
  font-weight: bold;
  padding: 4px;
}
.x-button{
  font-size: 13px;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 3px;
  /* color: white; */
  /* margin-top: 5px; */
  /* margin-right: 5px; */
  position:absolute;
  top:0;
  right:0;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 4px;
}

.back-button{
  font-size: 18px;
  font-weight: bolder;
  padding-top: 1px;
  padding-bottom: 0px;
  /* color: white; */
  /* margin-top: 5px; */
  /* margin-right: 5px; */
  position:absolute;
  top:0;
  left:0;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 4px;
}

.set-as{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.station-html-button-text{
  border: none;
  color: white;
  /* font-size: 30px; */
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  justify-content: center;
}

.complex-html-button-text{
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  /* max-width: 700px; */
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-content: center; */
}

.station-text-name{
  /* max-width: 600px; */
  max-height: 250px; 
  word-wrap:break-word;
  justify-content: center;
  text-align: center;
}

.icon-image-array{
  display: inline-block;
  gap: 5px;
}

.route_icon{
  padding: 3px;
  pointer-events: none;
}

.route_icon_route_tt{
  padding: 3px;
  pointer-events: none;
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}

.route_icon_complex{
  width: 20px;
  height: 20px;
  padding: 3px;
  pointer-events: none;
}

.station-routes-button{
  white-space: nowrap;
  overflow: hidden;
}

.route_icon_search{
  height: 15px;
  width: 15px;
  padding: 2px;
}

.canvas{
  z-index: 1;
}


/* LEG INFO */

.start-station-info{
  /* margin-left: auto; */
  padding: 2px;
}
.station{
  font-size: 17px;
  font-weight: bold;
}
.time{
  font-size: 17px;
  font-weight: bold;
  background-color: gold;
  color: black;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.direction{
  font-size: 17px;
  /* font-weight: bold; */
}

.middle-info{
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.arrow-icon{
  font-size: 30px;
}

.end-station-info{
  padding: 2px;
}

.stops-and-time{
  font-size: 17px;
  flex-direction: column;
  margin-left: 0;
}

.transfer-info{
  padding: 5px;
}

.trip-time{
  /* background-color: gold;
  color: black;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px; */
}

.route_icon_leg_info{
  width: 17px;
  height: 17px
}

